<h1>user page</h1>
<p>name : <%= @user.name %></p>
<p>mail address : <%= @user.email %></p>
<p>profile : <%= @user.profile %></p>
<%= image_tag @user.image_url, size: "250x200" if @user.image? %>
<ul>
  <li><%= link_to "edit profile", edit_user_registration_path %><li>
  <li><%= link_to "back", photos_path %><li>
</ul>

<h3>posts list</h3>
<div class="photos-container2">
<div class="photo">
<% @user.photos.each do |t| %>
  <div class="waku">
  <%= image_tag t.user.image_url, size: "250x300" if t.user.image? %>
  <%= image_tag t.image_url, size: "250x300" if t.image? %>
  <div class="photo2">
  <h5><%= t.user.name %></h5>
  <h5><%= link_to "detail", photo_path(t.id) %></h5>
    </div>
    </div>
<% end %>
</div>
</div>




