
 <header>
  <h1>Phototrip</h1>
  <div class="header-list">
   <ul>
    <% if user_signed_in? %>
     <li><%= button_to 'log out', destroy_user_session_path, method: :delete %></li>
    <li> <%= link_to "post", new_photo_path %><li>
    <% else %>
     <li><%= link_to "signup", new_user_registration_path %></li>
     <li><%= link_to "login", new_user_session_path %></li>
    <% end %>
    <% if user_signed_in? %>
  <li><%= link_to "my page", user_path(current_user.id) %><li>
<% end %>
   </ul>
  </div>
 </header>
 <body>

<div class="photos-container">

<div class="tag-list">
<%= form_tag({controller:"photos",action:"index"}, method: :get) do %>
 <ul>
 <% Tag.all.each do |t| %>
      <li><%= check_box :tag_ids, t.name %><%= t.name %><li>
<ul>
  <% end %>
  <%= submit_tag '検索' %>
<% end %>
<li><%= link_to "back", photos_path %><li>

</div>

<div class="photo">
 
  <% @photos.each do |t| %>
   
    <div class="waku">
    
    <%= image_tag t.image_url, size: "250x300" if t.image? %>
    <%= image_tag t.user.image_url, size: "250x300" if t.user.image? %>
    <div class="photo2">
    <h5><%= link_to t.user.name, user_path(t.user.id) %></h5>
    <h5><%= link_to "detail", photo_path(t.id) %></h5>
    <h5><%= button_to "delete", photo_path(t.id), method: :delete %></h5>
    </div>
    </div>
    <% end %>
    
  </div>

</div>
</body>