<h1></h1>
<h3>一覧ページ</h3>
<%= link_to "新規投稿へ", new_photo_path %>
<div class="photos-container">
<% if user_signed_in? %>
  <%= link_to "マイページへ", user_path(current_user.id) %>
<% end %>

<%= form_tag({controller:"photos",action:"index"}, method: :get) do %>
  <%= text_field_tag :tag %>
  <%= submit_tag 'タグを追加' %>
<% end %>

<%= form_tag({controller:"photos",action:"index"}, method: :get) do %>
  <% Tag.all.each do |t| %>
      <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
  <% end %>
  <%= submit_tag '検索' %>
<% end %>

  <% @photos.each do |t| %>
    <div class="photo">
    <%= t.user.email %>
    <%= image_tag t.image_url, size: "250x200" if t.image? %>
    <%= image_tag t.user.image_url, size: "250x200" if t.user.image? %>
      <%= t.name %>
      <%= t.address %>
      <%= t.season %>
      <%= link_to "詳細へ", photo_path(t.id) %>
      <%= link_to "編集する", edit_photo_path(t.id) %>
      <%= button_to "削除する", photo_path(t.id), method: :delete %>
      <%= link_to t.user.name, user_path(t.user.id) %> 
     <%= t.user.email %>
    </div>
  <% end %>
</div>