
<h2>Phototrip</h2>
<%= form_for @photo do |f| %>

  <div class='form-group'>
  <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <div class='form-check'>
          <%= tag.label class: 'form-check-label' do %>
              <%= tag.check_box class: 'form-check-input' %>
              <%= tag.text %>
          <% end %>
      </div>
  <% end %>
</div>

  <div class="field">
  <%= f.label :image %>
  <%= f.file_field :image %>
</div>

  <div class="field">
    <%= f.label :place  %>
    <%= f.text_area :address, :size => "30x2" %>
  </div>

  <div class="field">
    <%= f.label :about %>
    <%= f.text_field :name, :size => 30 %>
  </div>
  <div class="field">
  <%= f.submit "投稿する" %>
<% end %>

<ul>
<li><%= link_to "back", photos_path %><li>
</ul>
</div>