<div class="photos-container2">
<div class="photo4">
<div class="waku2">

<%= image_tag @photo.image_url, size: "500x500" if @photo.image? %>
  <%= image_tag @photo.user.image_url, size: "500x500" if @photo.user.image? %>
<div class="photo2">
<ul>
  <% @photo.tags.each do |tag| %>
  <li><%= tag.name %><li>
<% end %>

  <li><p><%= @photo.name %></p><li>
  <li><p><%= @photo.address %></p><li>
  
  <li><%= link_to "edit", edit_photo_path(@photo.id) %><li>
<li><%= link_to "back", photos_path %><li>
<ul>
</div>
</div>
</div>
</div>
 

  

