<!DOCTYPE html>
<html>
  <head>
    <title>Phototrip</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
<body>
  
  <%= yield %>
  </body>
 <footer>
      <p><a href="https://jp.freepik.com/free-photo/3d-render-of-a-tree-landscape-against-a-night-sky_1117987.htm#page=2&query=%E7%B5%B6%E6%99%AF&position=14&from_view=keyword&track=sph">著作者：kjpargeter</a>／出典：Freepik</p>
    </footer>
  
</html>
